@import "node_modules/bootstrap/scss/bootstrap";

:root {
    --white: hsl(0, 0%, 100%);
    --red: hsl(0, 100%, 66%);
    --lgrey: hsl(270, 3%, 87%);
    --dgrey: hsl(279, 6%, 55%);
    --verydark: hsl(278, 68%, 11%);
  }